.main-container {
    color: white;
    text-align: center;
    margin: 90px auto;
    padding: 0 8vw;
}

.skill-container, .skill-intro, .card, .tool-intro, .info, .final-msg, .final-msg div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-container {
    gap: 30px;
    margin-bottom: 130px;
}

.skill-intro {
    gap: 8px;
    letter-spacing: 0.5px;
}

.skill-intro h2, .final-msg h2 {
    font-size: calc(20px + 1.95vw);
    font-weight: 700;
}

.skill-intro p, .final-msg p {
    font-size: 1em;
    font-weight: 400;
    width: 92vw;
    max-width: calc(590px + 2vw);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.outer-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    border-radius: 30px;
    background-color: #000;
}

.outer-container::before{
    content: '';
    padding: calc(4.5px + 0.1vw);
    position: absolute;
    inset: 0;
    animation: 3s spin linear infinite;
    border-radius: 32px;
    background-position: center center;
    background-image: conic-gradient(from var(--angle), #ff5500 0%,#ffd000 25%,#ff5500 50%,#ffd000 75%,#ff5500 100%);
    pointer-events: none;
    mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.cards-container {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.cards-container::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card:first-child {
    margin-left: 50%;
}

.card:last-child {
    margin-right: 50%;
}

.card {
    position: relative;
    width: calc(210px + 7vw);
    aspect-ratio: 31/35;
    height: calc(270px + 7vw);
    gap: 11px;
    padding: 0 calc(16px + 1vw);
    border-radius: 20px;
    overflow: visible;
    background-color: #333333;
    flex-shrink: 0;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    margin: 50px 0;
}

.card::before{
    content: '';
    position: absolute;
    inset: 0;
    padding: calc(3px + 0.1vw);
    animation: 3s spin linear infinite;
    border-radius: inherit;
    pointer-events: none;
    background-position: center center;
    background-image: conic-gradient(from var(--angle), #ff5500 0%,#ffd000 25%,#ff5500 50%,#ffd000 75%,#ff5500 100%);
    mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.tool-intro {
    gap: 8px;
    letter-spacing: 0.5px;
}

.info {
    letter-spacing: 1px;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(65.89px + 1vw);
    height: calc(65.89px + 1vw);
    padding: 15%;
    border-radius: 16px;
    background-color: #FFF;
}

.svg-container svg {
    aspect-ratio: 1/1;
    height: auto;
}

.logo-0-1 {
    padding: 8%;
}
.logo-0-2 {
    padding: 9% 4% 9% 9%;
}
.logo-0-4 {
    padding: 13%;
}
.logo-0-5 {
    padding: 5%;
}

.logo-1-2 {
    padding: 3% 5% 10%;
}
.logo-1-3 {
    padding: 6%;
}
.logo-1-4{
    padding: 10%;
}
.logo-1-4 svg {
    width: 100%;
}
.logo-1-5 {
    padding: 11%;
}

.logo-2-0 {
    padding: 4%;
}
.logo-2-1 {
    padding: 9%;
}
.logo-2-2 {
    padding: 6%;
}
.logo-2-3 {
    padding: 8% 5% 8% 10%;
}
.logo-2-4 {
    padding: 6%;
}

.logo-3-0 {
    padding: 6%;
}
.logo-3-1 {
    padding: 8%;
}
.logo-3-2 {
    padding: 9%;
}

.logo-4-0 {
    padding: 6%;
}
.logo-4-1 {
    padding: 2.5%;
}
.logo-4-2 {
    padding: 9%;
}

.logo-5-0 {
    padding: 8% 4% 0;
}
.logo-5-1 {
    padding: 12%;
}

.logo-6-0 {
    padding: 3.5%;
}
.logo-6-1 {
    padding: 4%;
}
.logo-6-2 {
    padding: 4% 1% 0 3%;
}
.logo-6-3 {
    padding: 4.2%;
}
.logo-6-4 {
    padding: 7% 4% 7% 3%;
}
.logo-6-5 {
    padding: 5%;
}

.tool-intro h3 {
    letter-spacing: 1px;
    font-size: calc(15.8px + 0.3vw);
    font-weight: 700;
    line-height: calc(9.8px + 0.3vw);
}

.info p {
    font-size: 16px;
    font-weight: 600;
}

.info a, .info a small{
    font-size: 13px;
    font-weight: 600;
    color: #FF6E1A;
    line-height: 15px;
}

.card > p {
    line-height: calc(11.9px + 0.39vw);
    font-weight: 400;
    font-size: calc(12px + 0.24271vw);
    letter-spacing: 0.3px;
}

.final-msg {
    gap: 70px;
}

.final-msg div:first-of-type {
    gap: 8px;
}

.final-msg div:last-of-type {
    gap: 2px;
}

@media (width <= 450px) {
    .skill-container:nth-child(7) {
        margin-bottom: 80px;
    }

    .skill-intro p {
        font-size: 14.5px;
        letter-spacing: 0;
    }

    .tool-intro h3 {
        letter-spacing: 0.5;
    }

    .final-msg {
        gap: 50px;
    }
}

@media (width <= 800px) {
    .outer-container {
        width: 95vw;
    }
}