header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px 0;
    color: #FFF;
    text-align: center;
    background-image: linear-gradient(94deg, #f97a1f 0%,#c36022 25%,#bf521b 50%,#c0521b 75%,#f97a1f 100%);
    background-position: center center;
    padding: 80px 32px;
    margin-top: 60px;
    letter-spacing: 0.2px;

}

header h1 {
    font-size: 3.75em;
    font-weight: 700;
}

header p {
    font-size: 1.25em;
    font-weight: 500;
}

@media (width <= 640px) {
    header h1 {
        font-size: 3em;
    }
}

@media (width <= 400px) {
    header h1 {
        font-size: 2.5em;
        font-weight: 800;
    }
}