*, *::after, *::before, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  background-color: black;
}

body.modal-open {
    overflow: hidden;
    pointer-events: none;
}

.active {
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 0 0 150px hsla(27, 100%, 50%, 60%);
}

@media (width <= 600px) {
  .active {
    box-shadow: 0 0 150px hsla(27, 100%, 50%, 40%);
  }
}

/* 
body.modal-open .overlay {
    pointer-events: all;
} */

/* button { */
  /* font-family: "Plus Jakarta Sans", sans-serif; */
/* } */

