*, *::after, *::before, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}